exportPattern("^[[:alpha:]]+")


export(
  "XBSeqTest",
  "XBSeqTestForMatrices",
  "XBSeq",
  "estimateSizeFactorsForMatrix",
  "getSCV",
  "estimateRealcount",
  "getsignalVars",
  "MAplot",
  "plotSCVEsts"
  )


exportMethods(
  "conditions",
  "conditions<-",
  "dispEst",
  "dispEst<-",
  "dispTable",
  "dispTable<-",
  "estimateSCV",
  "fitInfo" 
)


exportClasses(
  "XBSeqDataSet" 
)


import(
  "DESeq2",
  "Biobase",
  "BiocGenerics",
  "methods",
  "ggplot2",
  "locfit"
)


importFrom("pracma", "repmat")
importFrom("matrixStats", "rowVars")


