exportPattern("^[[:alpha:]]+")
exportMethods(
    "conditions",
    "conditions<-",
    "counts",
    "counts<-",
    "dispTable",
    "dispTable<-",
    "estimateSCV",
    "estimateSizeFactorsXBSeq",
    "sizeFactors",
    "sizeFactors<-" 
)
exportClasses(
    "XBSeqDataSet" 
)
